body {
  font-family: Arial, sans-serif;
  background-color: #add8e6; /* Light blue background */
  margin: 0;
  padding: 0;
}

header {
  background-color: #00308f; /* Dark blue header */
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  flex-grow: 1;
  text-align: center;
  font-size: 2rem;
  margin: 0;
}

.home-icon {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.home-icon i {
  vertical-align: middle;
}

main {
  padding: 1px;
  max-width: 500px;
  margin: 10px auto;
  text-align: center;
  margin-right: 60px;
}

h2 {
  color: #00308f;
  font-size: 1.8rem;
  margin-left: 50px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 50px;
  border: 1px blue solid;
  padding: 30px;
  border-radius: 20px;
  background-color: #4b6bd2;
  box-shadow: 0 12px 5px rgba(0, 0, 0, 0.2);
}

#searchBar {
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
  border: none;
  outline: none;
  color: #00308f;
  background-color: #fff;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #00308f;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

button:hover {
  background: #001d6d;
}

#result {
  margin-top: 20px;
  margin-left: 37px;
}

.species-card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  margin: 15px auto;
  max-width: 100%;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 2px;
  align-items: center;
}

.species-icon {
  width: 150px;
  height: 70px;
  background-color: #00308f;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 12px 5px rgba(0, 0, 0, 0.2);
  margin-right: 35px;
}

.species-icon i {
  font-size: 1rem;
  color: white;
}

.species-info {
  flex-grow: 1;
  text-align: left;
}

.species-info strong {
  font-size: 1.2rem;
  color: #00308f;
  font-weight: bold;
}

.species-info p {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}
.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
}

.navbar a {
  text-align: center;
  color: #888;
  flex-grow: 1;
  transition: color 0.3s ease;
}

.navbar a .icon {
  background-color: white;
  border: 2px solid #072791;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
  color: #072791;
  box-shadow: 0 1px 1px #072791;
}

.navbar a.active .icon {
  background-color: #072791;
  color: white;
  /*transform: translateY(-10px);*/
}

.navbar a.active {
  color: #072791;
}

.navbar a:hover .icon {
  background-color: #072791;
  color: white;
  /* transform: translateY(-10px);*/
}
